<!DOCTYPE html>
<html lang="en">

<head>
  <title>garlibalance</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel='stylesheet prefetch' href='https://unpkg.com/material-components-web@latest/dist/material-components-web.css'>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
  <script src='https://unpkg.com/material-components-web@latest/dist/material-components-web.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
</head>

<body class="centered-wrapper" style="font-family: 'Comfortaa' !important;">
  <div class="centered-content">
    <img class="logo" src="/images/logo.png" id="logo">
    <br>
    <h5 id="inputError" class="mdc-typography--headline5" style="color: #c62f36; font-family: 'Comfortaa' !important; top: 50%; position: relative; margin: 0 auto; text-align: center"></h3>
    <form id="form">
      <div class="mdc-text-field">
        <input
        autocorrect="off" autocapitalize="off" spellcheck="false"
        style="color: #acbdbd" id="address" type="text" id="my-text-field" class="mdc-text-field__input" size="40">
        <label id="floatLabel" style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;" 
        unselectable="on"
        onselectstart="return false;" class="mdc-floating-label transparent-label" for="my-text-field">Garlicoin Address</label>
        <div class="mdc-line-ripple"></div>
      </div>
      <br>
      <button id="submitForm" class="mdc-button mdc-button--raised" type="submit">Get Balance</button>
    </form>
    <br>
    <h3 id="balance" class="mdc-typography--headline3" style="font-family: 'Comfortaa' !important; top: 50%; position: relative; margin: 0 auto; text-align: center"></h3>
    <br>

  </div>
  <footer>
    <button onclick="forgetCookies()" id="forget" class="mdc-button mdc-button--raised">forget address?</button>
    <button id="about" onclick="location.href='/about'" class="mdc-button mdc-button--raised">about</button>
    <p hidden id="cookie-info">we use cookies to ensure you get the best experience <a id="cookie-consent" href="#">i understand</a></p>
    <p>made with <a id="heart">❤</a> in stockholm by oliver</p>
  </footer>
  <script src="/javascripts/index.js"></script>
</body>

</html>